[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/docura"]
	path = themes/docura
	url = https://github.com/docura/docura
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugobook"]
	path = themes/hugobook
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/papermodx"]
	path = themes/papermodx
	url = https://github.com/reorx/hugo-PaperModX
